<!--File Name: footer.ejs  
    Author's Name: Yerim Cho
    Student ID : 301143325
    Web App name: Book List-->

<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <h4  class="navbar-text">&copy; 2021 All Rights Reserved.</h4>
  </div>
</nav>



<!-- JAVASCRIPT SECTION -->
    <script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
  </body>
</html>
